.Projects-item + .Projects-item {
  margin-top: 40px;
}

.Projects-image-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 20px rgba(34, 34, 34, 0.1));
  border: 1px solid #dae1e7;
}

.dark .Projects-image-wrapper {
  border-color: rgb(95, 99, 104);
}

.Projects-image-wrapper:hover .Projects-image {
  transform: scale(1.16);
}

.Projects-image {
  transition: transform 2s, filter 2s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Projects-info {
  flex: 1 1 0;
}

.Projects-title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Projects-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.Projects-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.Projects-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.Projects-icon {
  transition: 0.4s color ease-in-out;
}

.light .Projects-icon {
  color: rgb(68, 79, 90);
}

.light .Projects-icon:hover {
  color: rgb(5, 100, 189);
}

.dark .Projects-icon {
  color: rgb(108, 114, 123);
}

.dark .Projects-icon:hover {
  color: rgb(5, 100, 189);
}

.Projects-tag {
  font-size: 20px;
  border-radius: 40px;
  padding: 5px 14px;
  background: rgb(231, 245, 255);
  color: rgb(34, 139, 230);
  line-height: 1.5;
}

.light .Projects-tag {
  background: rgb(231, 245, 255);
  color: rgb(34, 139, 230);
}

.dark .Projects-tag {
  background: rgba(25, 113, 194, 0.2);
  color: rgb(165, 216, 255);
}

@media (min-width: 1024px) {
  .Projects-item {
    display: flex;
    gap: 40px;
    height: 400px;
  }
  .Projects-image-wrapper {
    flex-shrink: 0;
    width: 700px;
  }
}

@media (max-width: 1023px) {
  .Projects-image-wrapper {
    height: 200px;
    margin-bottom: 20px;
  }
}
