.Education-years {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.Education-text {
  font-size: 20px;
}

@media (min-width: 1024px) {
  .Education-items {
    display: flex;
    gap: 40px;
    justify-content: center;
  }
}

@media (max-width: 1023px) {
  .Education-item + .Education-item {
    margin-top: 40px;
  }
}
