.Skills-wrapper {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.Skills-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.Skills-item img {
  width: 60px;
  transition: 0.4s transform ease-in-out;
}

.Skills-item:hover img {
  transform: scale(1.1);
}
