.Header-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  height: 80px;
  backdrop-filter: blur(16px) saturate(1.5);
}

.dark .Header-wrapper {
  border-bottom: 1px solid rgb(38, 38, 38);
  background-color: rgba(0, 0, 0, 0.3);
}

.light .Header-wrapper {
  border-bottom: 1px solid rgb(229, 229, 229);
  background-color: rgba(255, 255, 255, 0.3);
}

.Header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Header-placeholder {
  height: 80px;
}

.Header-mobile-menu-inner {
  padding: 20px;
}

@media (min-width: 1024px) {
  .Header-desktop {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 1023px) {
  .Header-desktop {
    display: none;
  }
  .Header-mobile {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .Header-mobile {
    display: none;
  }
  .Header-mobile-menu {
    display: none;
  }
}

@media (max-width: 1023px) {
  .Header-mobile-menu {
    position: fixed;
    right: 0;
    left: 0;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    z-index: 998;
    top: 80px;
    bottom: 0;
    overflow: scroll;
    backdrop-filter: blur(16px) saturate(1.5);
    display: flex;
    justify-content: center;
  }
  .Header-mobile-menu_opened {
    transform: translateX(0);
  }
}

.dark .Header-mobile-menu {
  background-color: rgba(0, 0, 0, 0.3);
}

.light .Header-mobile-menu {
  background-color: rgba(255, 255, 255, 0.3);
}
