.Footer-wrapper {
  padding: 20px;
}

.light .Footer-wrapper {
  background-color: rgb(242, 242, 242);
}

.dark .Footer-wrapper {
  background-color: rgb(17, 17, 17);
}

.Footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.light .Footer-icon {
  color: rgb(51, 51, 51);
}

.dark .Footer-icon {
  color: rgb(255, 255, 255);
}
