.Top-wrapper {
  min-height: calc(100vh - 80px);
}

.Top-icons {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.Top-icon {
  transition: 0.4s color ease-in-out;
}

.light .Top-icon {
  color: rgb(68, 79, 90);
}

.light .Top-icon:hover {
  color: rgb(5, 100, 189);
}

.dark .Top-icon {
  color: rgb(108, 114, 123);
}

.dark .Top-icon:hover {
  color: rgb(5, 100, 189);
}

.Top-info-text {
  font-size: 27px;
  margin-bottom: 20px;
}

.light .Top-info-text {
  color: rgb(68, 79, 90);
}

.dark .Top-info-text {
  color: rgb(162, 161, 166);
}

.light .Top-info-title {
  color: rgb(68, 79, 90);
}

.dark .Top-info-title {
  color: rgb(162, 161, 166);
}

.light .Top-info-typed {
  color: rgb(5, 100, 189);
}

.dark .Top-info-typed {
  color: rgb(81, 156, 227);
}

.Top-info-title {
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 20px;
}

.Top-info-typed {
  font-size: 27px;
  margin-bottom: 20px;
}

.Top-info .typed-cursor {
  font-size: 27px;
}

.light .Top-info .typed-cursor {
  color: rgb(5, 100, 189);
}

.dark .Top-info .typed-cursor {
  color: rgb(81, 156, 227);
}

.Top-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Top-profile {
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .Top-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px 0;
  }

  .Top-info {
    flex: 1 1 0;
  }

  .Top-image-wrapper {
    flex: 1 1 0;
  }

  .Top-profile {
    width: 400px;
  }

  .Top-info-title {
    font-size: 55px;
  }
}

@media (max-width: 1023px) {
  .Top-wrapper {
    padding: 30px 0;
  }

  .Top-info {
    margin-bottom: 40px;
  }

  .Top-profile {
    width: 200px;
  }

  .Top-icons {
    justify-content: center;
  }

  .Top-info-title {
    font-size: 35px;
  }
}
